<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bieber 4 Life</title>

    <!-- dependencies -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!-- my js -->
    <script src="app.js"></script>
    <script src="components/navbar/bl-navbar.js"></script>
    <script src="components/home/home.js"></script>
    <script src="components/home/homeCtrl.js"></script>
    <script src="components/photos/photos.js"></script>
    <script src="components/photos/photosCtrl.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Rock+Salt' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body ng-app="app">
    <ui-view></ui-view>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
